@import "tailwindcss";
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(245,130,32);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(245,130,32);
}
